<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div>
<h1>New User</h1>
<form th:method="patch" th:action="@{/add}" th:object="${user}">
    <table th:border="1" th:cellpadding="4">
        <tr>
            <td>NAME: </td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>PASSWORD: </td>
            <td><input type="text" th:field="*{password}"></td>
        </tr>
        <input type="checkbox" name="nameRole" value="ROLE_ADMIN"/>ADMIN
        <input type="checkbox" name="nameRole" value="ROLE_USER"/>USER
        <br/>
    </table>
    <br/>
    <td colspan="2"><input type="submit" value="Create"></td>
    <br/>
    <br/>
    <a th:href="@{/logout}">LOGOUT</a>
 </form>
</div>

</body>
</html>